* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #03180e;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03180e;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    /* Explicitly allow scrolling */
}

html[data-theme="dark"] body {
    background-color: #000000;
}

.preview-container {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.full-screen-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

@media print {
    .back-link {
        display: none;
    }

    .full-screen-image {
        width: 100%;
        height: auto;
    }

    body {
        background-color: rgb(15, 3, 3);
    }
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #0a0404;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: fixed;
    /* Keep it visible while scrolling */
    bottom: 20px;
    z-index: 10;
}

.back-link:hover {
    background-color: #555;
}